/* color palette */
:root {
  --primary-color: #355B3E;
  --secondary-color: #58745E;

  --white-color: #fff;
  --label-color: #2F3D4C;
  --border-color: #B8D6BF;
  --btn-bg-color: #029664;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'clig' off, 'liga' off;
}

body {
  font-weight: 400;
}

input{
  outline: none;
}

a{
  text-decoration: none;
}